<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, exercitationem architecto in tempore dolorem iusto ratione nesciunt repellendus, nobis porro fugiat! Laborum quaerat a aliquam magnam eos porro eveniet dolores aut ullam, quasi laudantium libero, hic architecto alias maxime saepe!</p>
    </div>
</div>