<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css">
</head>
<body>
    <p>navigaiton</p>
    <main class="container">
            {{{ body }}}
    </main>
    <p>footer</p>
</body>
</html>